
.listings__header {
    border-bottom: 1px solid var(--color-borders);
    padding: var(--spacing-x2) 0 var(--spacing-x3);
}

.listings__header_title {
    color: var(--color-text-dark);
    font-size: var(--font-size-x-large);
    margin: 0;
}

.listings__header_subtitle {
    color: var(--color-text-light);
    font-size: var(--font-size-medium);
    font-weight: normal;
    margin: 0;
}

.listings__header_subtitle__emphasis {
    color: var(--color-primary);
    font-weight: normal;
}

.listings__grid {
    padding: var(--spacing-x3) 0;
    display: flex;
    flex-wrap: wrap;
    gap: var(--grid-gap);
}

.listing > * {
    margin-bottom: var(--spacing-x2);
}

.listing > *:last-child {
    margin-bottom: 0;
}

.listing__header {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: var(--spacing);
}

.listing__header_title {
    color: var(--color-text-dark);
    font-size: var(--font-size-large);
    grid-column: 1 / 3;
    grid-row: 1 /2;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.listing__header_price {
    color: var(--color-primary);
    font-size: var(--font-size-large);
}

.listing__header_location {
    color: var(--color-text-light);
    font-size: var(--font-size-medium);
    text-align: right;
}

.listing__img {
    width: 100%;
    height: calc(var(--spacing-x4) * 10);
    object-fit: cover;
}

.listing__description {
    --line-height: 1.25rem;
    line-height: var(--line-height);
    color: var(--color-text);
    font-size: var(--font-size-default);
    margin-top: 0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.listing__footer {
    display: flex;
    gap: var(--spacing);
}

.listing__btn {
    border: 0;
    color: var(--color-primary-dark);
    background: var(--color-primary-light);
    font-size: var(--font-size-default);
    font-weight: bold;
    padding: var(--spacing) var(--spacing-x2);
    border-radius: calc(var(--spacing) / 2);
    cursor: pointer;
}

@media (min-width: 800px) {
    /* tablet */
    .listing {
        --width-padding: calc((100% - var(--spacing-x4)) - var(--spacing-x2));
        max-width: calc((var(--width-padding) - (var(--grid-gap) * 2)) / 2);
    }

    .listing__img {
        height: calc(var(--spacing-x4) * 6);
    }
}

@media (min-width: 1200px) {
    /* desktop */
    .listing {
        --width-padding: calc(1200px - (var(--spacing-x2) * 2));
        max-width: calc((var(--width-padding) - (var(--grid-gap) * 3)) / 3);
    }
}